// 

$box-size: 130px;

.box {
	width: $box-size;
	height: $box-size;

	display: flex;
	justify-content: center;
	align-items: center;

	&--text {
		font-size: 14px;
		font-weight: 300;
		border-radius: 3px;
		padding: 5px;
		background-color: white;
	}
}
