.taskmuncher-view-calendar {
  height: 93%;
  margin-top: -64px;
  &--agenda {
    color: #7986cb !important;
  }
}

.rbc-calendar {
  min-height: 600px;
}

.rbc-month-row {
  overflow: visible !important;
  display: block !important;
}

@media only screen and (max-width: 600px) {
  .rbc-toolbar {
    font-size: 14px !important;
    button {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .rbc-toolbar-label {
      padding: 2px 5px !important;
    }
  }
  .rbc-agenda-view table tbody > tr > td {
    padding: 3px 6px !important;
  }
}
