//

.pokedex {

	&--cards {
		position: relative;
	}

	&--result {
		font-size: 140%;
		margin: 10px 0;

		&.winner {
			color: green;
		}
		&.loser {
			color: red;
		}
	}

	&--total {
		font-size: 85%;
	}

	// &--cards {
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: center;
	// }
}