// 

.app {

	&--title {
		margin: 40px 0 20px 0;
		font-size: 1.2em;
		font-weight: bold;
	}

	&--button {
    display: block;
    border-radius: 5px;
    font-size: 12px;
    padding: 12px;
    margin: 12px auto;
		width: 140px;
		border: none;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    @include opacity(0.9);
    &:hover {
      background-color: $dark-primary-color;
      @include transition(all 0.3s);
      cursor: pointer;
      @include opacity(1);
    }
  }
}
