
.nav-sidebar {
	position: relative;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;

    background-color: palette(sidebar);
    color: palette(sidebar, text);

    .nav-inner {
        margin: 5px 10px 20px 10px;
        div {
            margin: 5px 10px;
        }
    }

    h2 {
        font-size: 110%;
        text-transform: uppercase;
        color: palette(sidebar, header-text);
        padding: 1.2em 0.5em 0.7em 0.5em;
    }

    button {
        background-color: palette(sidebar);
        color: palette(sidebar, button);
        font-size: 80%;
        margin-top: 10px;
        border: none transparent;
        outline: none;
        text-decoration: none;
        border-radius: 2px;
        line-height: normal;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        text-rendering: auto;
        &:hover,
        &:focus {
            color: palette(sidebar, button-active);
        }
        &.active {
            color: palette(sidebar, button-active);
 //           box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
        }
        .article-count {
            color: palette(sidebar, header-text);
        }
        &.subscription-title {
            text-align: left;
            width: 220px;
        }
    }

    .search-field {
        border: none;
        border-bottom: 1px solid palette(sidebar, search-text);
        background: transparent;
        color: palette(sidebar, search-text);
        padding-bottom: 5px;
        &:focus {
            outline: none;
        }
    }

    .search-icon {
        @extend %my-svg;
        width: 14px;
        height: 14px;
        margin-top: 5px;
        margin-left: 5px;
        fill: palette(sidebar, search-icon-color);
        &:hover, &:focus {
            fill: palette(sidebar, search-icon-hover-color);
        }
    }

    .settings-icon {
        @extend %my-svg;
        width: 20px;
        height: 20px;
        margin-left: 20px;
        fill: palette(sidebar, settings-icon-color);
        &:hover, &:focus {
            fill: palette(sidebar, settings-icon-hover-color);
        }
        &.active {
            fill: palette(sidebar, button-active);
        }
    }

    .search-collapsed {
        display: none;
    }
}

.invisible {
    width: 0!important;
    @include transition(width .5s);
}

.visible {
    width: 100%;
//    height: auto;
    @include transition(width .5s);
}


@media (min-width: $transform-width) {
    .nav-sidebar {
        button {
            margin-top: 5px;
        }
    }

    .visible {
        width: $sidebar_width;
    }
}
