
/*
https://stackoverflow.com/questions/41674548/how-to-make-html-table-columns-resizable
*/

.tasks {
	&--container {

	}
	&--table {
		border-collapse: collapse;
		border-spacing: 0px;

		&-header {
			border: 2px solid black;
			padding: 5px 8px;
			margin: 0px;
			overflow: auto;
	
			&-div {
				resize: both;
				overflow: auto;
				display: block;

				// border: 0;
				width: auto;
				height: auto;
				min-height: 20px;
				min-width: 30px;
			}
		}

		&-column {
			border: 2px solid black;
			padding: 5px 8px;
			margin: 0px;
			overflow: auto;
		}
	}
}

/*

&--jv-td {
	border: 2px solid black;
	padding: 5px 8px;
	margin: 0px;
	overflow: auto;

	&-div {
		// background-color: red;
		resize: both;
		overflow: auto;
		display: block;
	}
}
jv--div {
	resize: both;
	overflow: auto;
	width: 120px;
	height: 120px;
	margin: 0px;
	padding: 6px;
	border: 1px solid black;
	display: block;
}

jv--td div {
	border: 0;
	width: auto;
	height: auto;
	min-height: 20px;
	min-width: 20px;
}
*/



