* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, .fullHeight {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
	padding: 20px;
	max-height: 80vh;
}

/* flex: flex-grow flex-shrink flex-basis|auto|initial|inherit; */

.flex-column {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* min-height: calc(100vh - 40vh); */
}

.flex-row {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-0-0-auto {
	flex: 0 0 auto;
}

.flex-1-1-auto {
	flex: 1 1 auto;
}

/* Justify per row*/
.flex--right {
  justify-content: flex-end;
}
.flex--center {
  justify-content: center;
}

/* Alignment per row */
.flex--top {
  align-items: flex-start;
}
.flex--bottom {
  align-items: flex-end;
}
.flex--center {
  align-items: center;
}

/* Alignment per cell */
.flex-cell--top {
  align-self: flex-start;
}
.flex-cell--bottom {
  align-self: flex-end;
}
.flex-cell--center {
  align-self: center;
}



header, footer, article, nav, aside {
	padding: 1em;
}
header, footer {
	background: yellowgreen;
	text-align: center;
	/* height: 20vh; */
}

header {
  background-color: #dcdcdc;
}

footer {
  background-color: #dcdcdc;
}

.main {
  position: relative; /* need this to position inner content */
	overflow-y: auto;

}

.main > article {
	flex: 1;
}
.main > nav, 
.main > aside {
	flex: 0 0 20vw;
	background: beige;
}
.main > nav {
	order: -1;
}


.navigation {
  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

// @media all and (max-width: 800px) {
//   .navigation {
//     justify-content: space-around;
//   }
// }

@media all and (max-width: 600px) {
  .navigation {
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
