// 

$breakpoint-1: 450px;
$breakpoint-2: 550px;

@media only screen and (max-width: $breakpoint-1) {
	.board {

		&--container {
			flex-direction: column;
		}

		&--guesses {
			margin: 2px auto;
			padding: 12px;
			font-size: 1em;
		}

		&--restart-button {
			font-size: 1em;
			padding: 10px;
			margin: 15px auto 20px auto;
		}

		&--result {
			font-size: 1.2em;
			margin: 5px auto;
			padding: 10px;
		}
	}
}

.board {
	@media only screen and (min-width: $breakpoint-1) and (max-width: $breakpoint-2) {
		&--guesses {
			margin: 5px auto;
			padding: 12px;
			font-size: 1em;
		}
	}

	@media only screen and (max-width: 750px) {
		&--header {
			justify-content: center;
			padding-left: 0;
		}
	}
}

.platform {
	@media only screen and (max-width: $breakpoint-1) {
		padding: 10px;
		margin: 10px auto;
		img {
			width: 150px;
		}
	}
	@media only screen and (min-width: $breakpoint-1) and (max-width: $breakpoint-2) {
		img {	width: 150px; }
	}
	@media only screen and (min-width: $breakpoint-2) and (max-width: 750px) {
		img { width: 200px; }
	}
}


@media only screen and (max-width: $breakpoint-1) {
	.keyboard {
		@include box-shadow((0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)));

		margin: 0 8px 0px 8px;
		padding: 5px;

		&--key {
			font-size: 1.3em;

			margin: 5px;
			width: 32px;
			height: 32px;
		}
	}

	.word {
		margin: 10px auto;
		padding: 10px;

		&--key {
			font-size: 1.3em;

			margin: 5px;
			width: 16px;
			height: 16px;
		}
	}
}

@media only screen and (min-width: $breakpoint-1) and (max-width: 750px) {
	.keyboard {
		&--key {
			margin: 5px;
			width: 40px;
			height: 40px;
		}
	}

	.word {
		margin: 40px auto 60px auto;
		padding: 20px;

		&--key {
			margin: 5px;
			width: 24px;
			height: 24px;
		}
	}
}
