
.app-grid {
  display: grid;
  // grid-row-gap: 10px;
  // grid-column-gap: 10px;
  height: 100vh;
  margin: 0;

	&--header {
		grid-area: header;
	}
	&--sidebar { 
		grid-area: sidebar; 
	}
	&--article { 
		grid-area: article;
	}
	&--article.content {
		background-color: palette(app, article);
	}
	&--ads { 
		grid-area: ads; 
	}
	&--footer {
		grid-area: footer;
	}

	&--sidebar-open {
		grid-template-areas:
			"header header"
			"sidebar article"
			"footer footer";
 		grid-template-rows: auto 1fr auto;  
  	grid-template-columns: 20% 1fr;
	}

	&--sidebar-closed {
		grid-template-areas:
			"header"
			"article"
			"footer";
		grid-template-rows: auto 1fr auto;  
		grid-template-columns: 1fr;
	}
}

 /* Stack the layout on small devices/viewports. */
@media all and (max-width: $mobile-breakpoint) {
	.app-grid {
		&--sidebar-open {
			grid-template-areas: 
				"header"
				"sidebar"
				"article"
				"ads"
				"footer";
			grid-template-rows: auto auto 1fr 70px auto;  
			grid-template-columns: 1fr;
		}
		&--sidebar-closed {
			grid-template-areas: 
				"header"
				"article"
				"ads"
				"footer";
			grid-template-rows: auto 1fr 70px auto;  
			grid-template-columns: 1fr;
		}
	}
}

/*
	&--sidebar-open {
		grid-template-areas:
			"header header header"
			"sidebar article ads"
			"footer footer footer";
 		grid-template-rows: auto 1fr auto;  
  	grid-template-columns: 30% 1fr 15%;
	}

	&--sidebar-closed {
		grid-template-areas:
			"header header header"
			"article article ads"
			"footer footer footer";
		grid-template-rows: auto 1fr auto;  
		grid-template-columns: 30% 1fr 15%;
	}
*/
