
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-weight: 400;
	font-family: $font-family;
	background-color: palette(primary, body);
	// text-align: center;
}

input,
textarea,
select,
button {
	font-family: $font-family;
}




/*
.hide {
	display: none !important;
}

.is-closed {
	display: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.form-error {
	color: red;
}

.clearfix {
	@include clearfix;
}

.capitalize {
	&:first-letter {
			text-transform: capitalize;
	}
}

.truncate {
	@include text-truncate;
}

*/










// header nav button {
// 	background-color: palette(nav, bg);
// 	color: palette(nav, text);
// 	border: none transparent;
// 	outline: none;
// 	text-decoration: none;
// 	font-weight: 500;
// 	font-size: 1.5em;
// 	text-align: center;
// 	padding: 15px;
// 	cursor: pointer;

// 	&:hover,
// 	&:focus {
// 		color: palette(nav, button-active);
// 	}
// 	&:first-child {
// 		float: left;
// 	}
// 	&:last-child {
// 		float: right;
// 	}
// }
