
.buttonIcon {
	border: none transparent;
	border-radius: 0;
	outline: none;

	svg {
		display: block;
	}

	&.header-icon {
		svg {
			background-color: palette(header, base);
			width: 25px;
			height: 25px;
			fill: palette(header, text);
			cursor: pointer;
	
			&:hover {
				width: 30px;
				height: 30px;
				@include opacity(0.85);
			}
		}
	}

	&.sidebar-menu-close {
		svg {
			background-color: palette(sidebar);
			width: 15px;
			height: 15px;
			cursor: pointer;
			&.close-menu {
				fill: palette(sidebar, close);
			}
	
			&:hover {
				width: 20px;
				height: 20px;
				@include opacity(0.85);
			}
		}
	}

	&.sidebar-menu-open {
		svg {
			background-color: palette(sidebar);
			width: 15px;
			height: 15px;
			cursor: pointer;
			&.open-menu {
				fill: palette(sidebar, open);        
			}
	
			&:hover {
				width: 20px;
				height: 20px;
				@include opacity(0.85);
			}
		}
	}
}
