
$app-colors: (
	primary: #1f8dd6,
	dark-color: #2d3e50,
	light-color: #ebebeb,
	item-color: #6FBEF3,
	dark-text-color: #4b7197,
	white-color: #ffffff,
	black-color: #000000,
	facebook: #3b5998,
	google: #4285f4,
	text-border: rgb(204, 204, 204),
	box-shadow: #eaeaea
);
@function app-color($key: "primary") {
	@return map-get($app-colors, $key);
}

$palettes: (
	primary: (
		base: app-color('primary'),
		dark-color: app-color('dark-color')
		// light: lighten(app-color('primary'), 8%),
		// dark: darken(app-color('primary'), 8%),
		// tinted: mix(white, app-color('primary'), 10%),
		// shaded: mix(black, app-color('primary'), 10%)
	),
	header: (
		base: app-color('dark-color'),
		text: app-color('white-color'),
		select: lighten(app-color('item-color'), 15%)
	),
	sidebar: (
		base: app-color('dark-color'),
		header-text: app-color('dark-text-color'),
		text: app-color('primary'),
		button: app-color('item-color'),
		button-active: app-color('white-color'),
		open: app-color('black-color'),
		close: app-color('white-color')
	),
	footer: (
		footer: app-color('dark-color'),
		footer-text: app-color('white-color')
	),
	expandable-button: (
		main-button-outer: #ff4878,
		main-button-inner: rgba(255,72,120,0.5),
		main-button-color: white,
		sub-button: #19d1e7,
		sub-button-text-color: #405060
	),
	app: (
		article: white
	)
);

@function palette($palette, $tone: 'base') {
	@return map-get(map-get($palettes, $palette), $tone);
}
