$mobile-breakpoint: 580px;

$sidebar_width: 320px;
$transform-width: 750px;

// $breakpoint-1: 380px;

// $width: 380px;
// $height: 380px;

$font-family: 'Roboto', sans-serif;
$font-color: #ecf0f1;

// @import 'vendor/normalize';

@import 'base';
@import 'mixins';
@import 'colors';

// @import 'fonts';

@import 'app';
@import 'devtools';
@import 'mobile-main';
@import 'desktop-main';

@import 'buttonIcon';
@import 'expandableButton';

@import 'header/header';
@import 'header/headerTitle';
@import 'header/headerNav';

@import 'sidebar';
@import 'content';

@import 'settings/editor';
@import 'settings/list-goals';
@import 'settings/list-goal';
@import 'settings/goal';
@import 'settings/list-projects';
@import 'settings/project';

@import 'settings/list-tasks';
@import 'settings/task';

@import 'tasks/tasksmain';
@import 'tasks/taskviewer';
@import 'tasks/taskeditviewer';

@import 'footer';

// @import 'test2';

@import 'toolbox/reacttags';
@import 'calendar/view-calendar';

@import 'toolbox/_date-input';
