
.header {
	background-color: palette(header, base);
	color: palette(header, text);
}

.header-icon-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-grid-open,
.header-grid-closed {
  display: grid;
  grid-template-areas:
     "title nav";
  grid-template-rows: auto;  
  grid-template-columns: auto 1fr;
  // grid-row-gap: 10px;
  // grid-column-gap: 10px;

	.header-grid--title {
		grid-area: title;
	}
	.header-grid--nav {
		grid-area: nav;
	}
	.header-grid--icon {
		grid-area: icon;
	}
}

 /* Stack the layout on small devices/viewports. */
@media all and (max-width: $mobile-breakpoint) {
  .header-grid-open { 
    grid-template-areas: 
		 	"title icon"
       "nav nav";
    grid-template-rows: auto auto;  
		grid-template-columns: auto auto;

	}
	.header-grid-closed {
    grid-template-areas: 
		 	"title icon";
    grid-template-rows: auto;  
		grid-template-columns: auto auto;
	}
}
