
.header-nav {
	padding: 1em;
		
	ul {
		list-style-type: none;
		li {
			width: 100%;
			margin: 0 0 1em 0;
			display: block;
			&:last-child {
				margin: 0;
			}
			a {
				color: palette(header, text);
				text-decoration: none;
				text-transform: uppercase;
				&:hover,
				&:focus {
					background: none;
					border: none;
					color: palette(header, select);
				}
			}
		}
	}
}

@media screen and (min-width: $mobile-breakpoint) {
	.header-nav {
		margin-top: 15px;
		padding: .5em;
		background: none;
		float: right;
		display: block;

		ul li {
			width: auto;
			margin: 0 .5em;
			display: inline-block;
		}
	}
}
