//

$white-color: #fff;
$black-color: #000;

$background-color: #394264;

$body-background-color: #1f253d;

$input-background: #50597b;
$placeholder-color: #95a5a6;

$guess-list-background-color: #11a8ab;
$guess-list-item-background-color: #1a4e95;

$help-background-color: #e74c3c;

$hover-background-color: #e64c65;

$guess-count-color: #f39c12;

$feedback-background: #cc324b;
