.container {
  margin: 10px;
}

li {
  list-style-type: none;
  border-bottom: 1px solid black;
  vertical-align: middle;
  line-height: 55px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
